<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
            <wm-prefab lng="end_location.lng" lat="start_location.lat" locations="bind:Variables.GoogleapisInvoke.dataSet.route.leg.step" name="googlemaps1" prefabname="googlemaps"></wm-prefab>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>